{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="profile_container">
        <div class="row">
            <div class="col">

                <div class="card hovercard">

                    <div class="avatar">
                        <img alt="" src="{{ user.profile.image.url }}">
                    </div>
                    <div class="info">
                        <div class="title">
                            {{ user.username }}
                        </div>
                        <div class="desc">About - {{ user.profile.about }}</div>
                        <div class="desc">Age - {{ user.profile.age }}</div>
                        <div class="desc">Gender - {{ user.profile.gender }}</div>
                        <div class="desc">Religion - {{ user.profile.religion }}</div>
                        <div class="desc">Mother Tongue - {{ user.profile.mother_tongue }}</div>
                    </div>

                    <a class="nav-item nav-link" href="{% url 'profile_contact' user.id %}">Smash</a><br>
                    <a class="nav-item nav-link" href="{% url 'profile_contact_delete' user.id %}">Pass</a>
                </div>

            </div>

        </div>
    </div>

{% endblock content %}
